<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center" >
        <h1>Remindr:</h1>
        <h3>never forget important things like the 5th of Nov.</h3>
        <!-- <br>
        <a href="#about" class="btn btn-dark btn-lg">Find Out More</a> -->
        <br>

    <div class="container text-center">
        <%= form_tag("", method: "post") do %>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="input-group">
                      <input type="text" name="email" id="email"class="form-control">
                      <span class="input-group-btn">
                        <input type="submit" class="btn btn-default" type="button" value="Sign up"></input>
                      </span>
                    </div><!-- /input-group -->
                    <% if flash[:notice] %>
                    <div class="alerts">
                        <div class="alert-message success">
                            <a class="close" href="#">×</a>
                            <p><%= flash[:notice] %></p>
                        </div>
                    </div>
                    <% end %>
                  </div><!-- /.col-lg-6 -->
            </div>
        <% end %>
    </div>
    </div>
</header>

<script>
    $(".close").click(function(){
        $('.alerts').hide();
    })
</script>
