<!-- Navigation -->
<!-- <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <a href="#top">Start Bootstrap</a>
        </li>
        <li>
            <a href="#top">Home</a>
        </li>
        <li>
            <a href="#about">About</a>
        </li>
        <li>
            <a href="#services">Services</a>
        </li>
        <li>
            <a href="#portfolio">Portfolio</a>
        </li>
        <li>
            <a href="#contact">Contact</a>
        </li>
    </ul>
</nav> -->

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center" >
        <h1>Remindr:</h1>
        <h3>never forget important things like the 5th of Nov.</h3>
        <!-- <br>
        <a href="#about" class="btn btn-dark btn-lg">Find Out More</a> -->
        <br>
        <% if flash[:notice] %>
            <div class="notice"><%= flash[:notice] %></div>
          <% end %>
    <div class="container text-center">
        <%= form_tag("", method: "post") do %>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="input-group">
                      <input type="text" name="email" id="email"class="form-control">
                      <span class="input-group-btn">
                        <input type="submit" class="btn btn-default" type="button">sign up</input>
                      </span>
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
            </div>
        <% end %>
    </div>
    </div>
</header>
